<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
                </a>
            </div>
            <form action="/" method="GET" class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar productos, marcas">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <p id="main-message"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
        </div>
        <nav class="nav-bar">
            <ul class="shop-menu">
                <li><a href="#" class="menu-options">Ofertas</a></li>
                <li><a href="#" class="menu-options">Tiendas Oficiales</a></li>
                <li><a href="#" class="menu-options">Vender</a></li>
                <li><a href="#" class="menu-options">Ayuda</a></li>
            </ul>
            <ul class="user-menu">
                <li><a href="/register" class="menu-options">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login" class="menu-options">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#" class="menu-options">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div id="menu-button-holder">
                <button id="menu-button">
                    <i class="fa fa-bars burger"></i>
                </button>
            </div>
        </nav>
    </header>
    <section>
        <img id="banner" src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
    </section>
    <main>
        <section>
            <h4 class="section-title">Basado en tu última visita</h4>
            <div class="articles">
                <article class="product-card">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <p class="product-description">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="product-description">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="product-description">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv 43" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="product-description">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h4 class="section-title">Sección de Ofertas</h4>
            <div class="articles">
                <article class="product-card">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <p class="product-description">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="product-description">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="product-description">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="product-card">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv 43" class="product-image">
                    <div class="card-info">
                        <span class="fa-stack logo-envio" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-truck fa-stack-1x"></i>
                        </span>
                        <div class="price-container">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="product-description">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section id="footer-section">
            <article class="footer-element">
                <i class="fas fa-credit-card block-element footer-icon"></i>
                <h4 class="block-element">Pagá con tarjeta o en efectivo</h4>
                <p class="block-element">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article class="footer-element">
                <i class="fas fa-gift block-element footer-icon"></i>
                <h4 class="block-element">Envío gratis desde $ 2.500</h4>
                <p class="block-element">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-element">
                <i class="fas fa-user-shield block-element footer-icon"></i>
                <h4 class="block-element">Seguridad, de principio a fin</h4>
                <p class="block-element">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás
                    siempre
                    protegido.</p>
            </article>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>