<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
                </a>
            </div>
            <form action="/" method="GET" class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar productos, marcas">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <p id="main-message"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
        </div>
        <nav class="nav-bar">
            <ul class="shop-menu">
                <li><a href="#" class="menu-options">Ofertas</a></li>
                <li><a href="#" class="menu-options">Tiendas Oficiales</a></li>
                <li><a href="#" class="menu-options">Vender</a></li>
                <li><a href="#" class="menu-options">Ayuda</a></li>
            </ul>
            <ul class="user-menu">
                <li><a href="/register" class="menu-options">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login" class="menu-options">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#" class="menu-options">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div id="menu-button-holder">
                <button id="menu-button">
                    <i class="fa fa-bars burger"></i>
                </button>
            </div>
        </nav>
    </header>
    <main>
        <form action="/" method="GET" class="login-form">
            <div class="error-messages form-element">
                <span class="login-error">Usuario y/o contraseña incorrecto</span>
            </div>
            <div class="form-element">
                <label for="user-name" hidden>Nombre de usuario</label>
                <input type="text" name="user-name" id="user-name" placeholder="Nombre de ususario" class="form-input">
            </div>
            <div class="form-element">
                <label for="password" hidden>Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" class="form-input">
            </div>            
            <div class="button-container form-element">
                <button type="submit" class="login-button">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <section id="footer-section">
            <article class="footer-element">
                <i class="fas fa-credit-card block-element footer-icon"></i>
                <h4 class="block-element">Pagá con tarjeta o en efectivo</h4>
                <p class="block-element">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article class="footer-element">
                <i class="fas fa-gift block-element footer-icon"></i>
                <h4 class="block-element">Envío gratis desde $ 2.500</h4>
                <p class="block-element">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-element">
                <i class="fas fa-user-shield block-element footer-icon"></i>
                <h4 class="block-element">Seguridad, de principio a fin</h4>
                <p class="block-element">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                    siempre
                    protegido.</p>
            </article>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>